.root {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  cursor: pointer;
  font-family: 'SFProText', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: white;
  background: #2750FF;
  border: none;
}

.root:focus {
  outline: none;
}